<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Ambitious and self motivated individual with a high attention to detail.
      Highly value self improvement and progression. Strive to create dynamic and adaptable solutions.
      Experience with the implementation of user interfaces, testing, and debugging processes.
      Equipped with a diverse and promising skill-set. Proficient in a wide range of technologies,
      including HTML5, CSS3, Bootstrap 4, JavaScript, JQuery, Ruby, Ruby on rails, AJAX, MySQL.
      Thrive to work collaboratively in a team but able to effectively self-manage
      during independent projects. </p>
  </div>

  <div>
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-icns">
      <li><a href="https://github.com/RobsonPeacock" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://facebook.com/robson.peacock" target="_blank"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.instagram.com/robson_peacock/" target="_blank"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.linkedin.com/in/robson-peacock-58895018a/" target="_blank"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</aside>
